version: '3.9'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-superflavio
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - directus
    restart: unless-stopped
  db:
    image: postgres:15
    container_name: directus_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: directus
      POSTGRES_PASSWORD: directus
      POSTGRES_DB: directus
    volumes:
      - directus_data:/var/lib/postgresql/data

  directus:
    image: directus/directus:latest
    container_name: directus
    restart: unless-stopped
    ports:
      - "8055:8055"
    environment:
      KEY: ${DIRECTUS_KEY}
      SECRET: ${DIRECTUS_SECRET}
      ADMIN_EMAIL: ${DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${DIRECTUS_ADMIN_PASSWORD}
      DB_CLIENT: ${DIRECTUS_DB_CLIENT}
      DB_HOST: ${DIRECTUS_DB_HOST}
      DB_PORT: ${DIRECTUS_DB_PORT}
      DB_DATABASE: ${DIRECTUS_DB_DATABASE}
      DB_USER: ${DIRECTUS_DB_USER}
      DB_PASSWORD: ${DIRECTUS_DB_PASSWORD}
      PUBLIC_URL: ${DIRECTUS_PUBLIC_URL}
      LOG_LEVEL: "info"
      LOG_STYLE: "raw"
      WEBSOCKETS_ENABLED: "true"
      WEBSOCKETS_LOGS_ENABLED: "true"
      ACTIVITY_RETENTION: "90d"
    depends_on:
      - db
    volumes:
      - directus_uploads:/directus/uploads
      - directus_extensions:/directus/extensions

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - directus
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m" # Limite la taille des fichiers
        max-file: "5" # Garde les 5 derniers fichiers

volumes:
  directus_data:
  directus_uploads:
  directus_extensions:


